*{margin: 0;padding: 0}
.zfooter{
    margin:70px 100px 20px 100px ;
}
.zfooter>div>div{
    text-align: center;
}
.zfooter>div>div>a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
}
.my_mll{
    margin-left: 200px;
}
.my_mlll{
    margin-left: 200px;
}
.shengmimg{
    font-size: 16px;
    line-height: 30px;
    color: #818181;
    width: 1444px;
    text-align: center;
}